# git pull --recurse-submodules
# git submodule update --init --recursive --remote
[submodule "functions/php-saml"]
	path = functions/php-saml
	url = https://github.com/onelogin/php-saml.git
	ignore = all
	branch = 3.4.1
[submodule "functions/PHPMailer"]
	path = functions/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
	ignore = all
[submodule "app/login/captcha"]
	path = app/login/captcha
	url = https://github.com/dapphp/securimage.git
	ignore = all
[submodule "css/assets/bootstrap-select"]
	path = css/assets/bootstrap-select
	url = https://github.com/silviomoreto/bootstrap-select.git
	ignore = all
[submodule "functions/GoogleAuthenticator"]
	path = functions/GoogleAuthenticator
	url = https://github.com/PHPGangsta/GoogleAuthenticator
	ignore = all
[submodule "functions/qrcodejs"]
	path = functions/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs
	ignore = all
[submodule "functions/xmlseclibs"]
	path = functions/xmlseclibs
	url = https://github.com/robrichards/xmlseclibs.git
	ignore = all
[submodule "functions/parsedown"]
	path = functions/parsedown
	url = https://github.com/erusev/parsedown.git
	ignore = all
[submodule "functions/LdapRecord"]
	path = functions/LdapRecord
	url = https://github.com/DirectoryTree/LdapRecord.git
