config.php
db/bkp
functions/scripts/custom/
public/api/_lock.txt
public/app/admin/import-export/upload/
public/app/dashboard/widgets/custom/
public/app/subnets/import-subnet/upload/
public/css/*/images/logo/logo.png
vendor
.continue
.idea
.vscode
