<IfModule mod_rewrite.c>

# Enable rewrite engine
RewriteEngine on
# Passthroughs
RewriteRule ^(css|js|app|test)/.*$ - [L,QSA]

# Rewrites
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

</IfModule>